extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
       - each result in enter
        div
          h2.text-center=result.attributes.name
          ul.list-group
            li.list-group-item='Email : '+result.attributes.email
            li.list-group-item='Forme Juridique : '+result.attributes.forme_juridique
            li.list-group-item='Gérant : '+result.attributes.gerant
            li.list-group-item='Coordonnées: '+result.attributes.coords
            li.list-group-item='Siret : '+result.attributes.siret
